Pyrogram==2.0.106
TgCrypto
requests
telebot
mysql.connector

py-tgcalls
python-dotenv
youtube_dl
youtube_search_python 
requests
youtube_search
ffmpeg
aiohttp
aiofiles
asyncio==3.4.3
youtube_search
python-arq
search_engine_parser
wget 
ffmpeg-python
Pillow==9.1.0
ujson
yt-dlp
git+https://github.com/yt-dlp/yt-dlp.git
