Pyrogram
TgCrypto
requests
telebot
mysql.connector
yt-dlp
aiogram
aiohttp
aiosignal
async-timeout
attrs
Babel
Brotli
certifi
charset-normalizer
frozenlist
idna
magic-filter
multidict
mutagen
pycryptodomex
pytz
requests
urllib3
websockets
yarl
