Pyrogram==2.0.106
TgCrypto==1.2.5
requests==2.26.0
telebot
mysql.connector
yt-dlp
aiogram

aiohttp
aiosignal
async-timeout
attrs
Babel
Brotli

charset-normalizer
frozenlist
idna
magic-filter
multidict
mutagen
pycryptodomex
pytz
requests
urllib3
websockets
yarl




